<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.model.mapper.EmpMapper">

    <insert id="addEmp" useGeneratedKeys="true" keyProperty="empno">
    insert into emp values(null,#{ename},#{job},#{mgr},#{hiredate},#{sal},#{comm},#{deptno})
 </insert>

    <insert id="addEmp1" useGeneratedKeys="true" keyProperty="empno">
    insert into emp values(null,#{ename},#{job},#{mgr},#{hiredate},#{sal},#{comm},#{deptno})
 </insert>

    <update id="updateEmp">
        update emp set sal=#{sal}, comm=#{comm} where empno = #{empno}
    </update>
    <sql id="fromemp">
        from emp where empno=#{empno}
    </sql>
    <delete id="deleteEmp">
        delete
        <include refid="fromemp"></include>
    </delete>
    <select id="getJobByEmpno" resultType="string">
        select job
        <include refid="fromemp"></include>
    </select>

    <select id="getInfoByEmpno" resultType="hashmap">
        select ename, job
        <include refid="fromemp"></include>
    </select>

    <select id="getByColumn">

    </select>
    
    <select id="getDeptByName">
        select * from dept where dname like "%#{dname}%"
    </select>

    <select id="getEmpInfoByEmpno" resultMap="_emp">
    select e.*, d.dname, d.loc
    from emp e, dept d
    where e.deptno = d.deptno
    and e.empno = #{empno}
    </select>

    <resultMap type="Emp" id="_emp">
        <id property="empno" column="empno" />
        <result property="ename" column="ename"/>
        <result property="ename" column="ename"/>
        <result property="job" column="job"/>
        <result property="mgr" column="mgr"/>
        <result property="hiredate" column="hiredate"/>
        <result property="sal" column="sal"/>
        <result property="comm" column="comm"/>
        <association property="d" javaType="Dept">
            <result property="dname" column="dname"/>
            <result property="loc" column="loc"/>
        </association>
    </resultMap>

    <!-- 动态查询 if -->
    <select id="getEmpByConditions" resultType="Emp">
      select * from emp
        <where>
            <if test="empno != 0">
                and empno = #{empno}
            </if>
            <if test="ename != null">
                and ename = #{ename}
            </if>
            <if test="job != null">
                and job = #{job}
            </if>
        </where>
    </select>

    <!-- 动态查询 choose when otherwise -->
    <select id="getEmpByOneCondition" resultType="Emp">
        select * from emp
        <where>
            <choose>
                <when test="empno != 0">
                    and empno = #{empno}
                </when>
                <when test="ename != null">
                    and ename = #{ename}
                </when>
                <when test="job != null">
                    and job = #{job}
                </when>
            </choose>
        </where>
    </select>

    <!-- 动态更新 -->
    <update id="updateEmpByCondition">
        update emp
        <set>
            <if test="ename != null">
                ename = #{ename},
            </if>
            <if test="job != null">
                job = #{job},
            </if>
        </set>
        where empno = #{empno}
    </update>

    <!-- foreach -->
    <select id="getEmps" resultType="Emp">
        select * from emp where empno in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="getEmps2" resultType="Emp">
        select * from emp where empno in
        <foreach collection="array" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <!-- 分页 -->
    <select id="getEmpByPage" resultType="Emp">
        select * from emp limit #{index}, #{count}
    </select>
</mapper>