<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.springbootdemo.model.mapper.EmpMapper">

    <select id="getEmps" resultType="Emp">
        select * from emp
        <where>
            <if test="empno != null">
                and empno = #{empno}
            </if>
            <if test="ename != null and ename !=''" >
                and ename = #{ename}
            </if>
            <if test="job != null and job !=''">
                and job = #{job}
            </if>
        </where>
    </select>



</mapper>